In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

In [13]:
print(df.shape)
df.head()

(200, 3)

          x1         x2  label
0  12.882292  10.228199      1
1  12.682271   9.360462      1
2  12.104981  10.580729      1
3  12.473947  10.993459      1
4  11.997386   9.321291      1

In [5]:
print('Shape of the data frame:', df.shape)

Shape of the data frame: (200, 3)

## Initializing weights

In [6]:
w = np.random.rand(2,1)

In [7]:
print('Shape of weights vector:', w.shape)

Shape of weights vector: (2, 1)

In [135]:
epochs = 2
for epoch in range(epochs):
    df['y_hat'] = 0
    for i in range(range(df.shape[0])):
        df_rand = df.sample(frac=1)
        df['y_hat'][i] = np.where(np.matmul(df_rand.drop('label', axis = 1).loc[i].values, w) < 0,
                                  np.matmul(df_rand.drop('label', axis = 1).loc[i].values, w), 
                                  df_rand['label'].loc[i])

TypeError: 'range' object cannot be interpreted as an integer