In [1]:
import numpy as np
import pandas as pd
import math
import re

In [2]:
func = '3x^2-2x+12'

In [3]:
def generate_function(eq):
    func = re.sub(r' ', '', eq)
    func = re.sub(r'(\^)', '**', func)
    func = re.sub(r'x', '*x', func)
    func = re.sub(r'([\+]+\*)', '+', func)
    func = re.sub(r'([\-]+\*)', '-', func)
    func = re.sub(r'^(\*)', '', func)
    return(func)

In [4]:
def derivative(eq):
    func0 = eq.replace('x', '(x+(2*h))')
    func1 = eq.replace('x', '(x+h)')
    func = '-(' + func0 + '-4*(' + func1 + ')+3*(' + eq + '))/(2*h)'
    return(func)

In [61]:
def newton_raphson(equation, x, tolerance):
    h = 0.000001
    
    log = pd.DataFrame(columns = ['Iteration', 'Xk', 'Xk+1', 'Error'])
    
    error = 100
    iteration = 0
    while error > tolerance:
        x_in = x
        x = x - (eval(generate_function(equation))/eval(derivative(generate_function(equation))))
        error = np.abs(x-x_in)
        iteration += 1
        
        log_info = {
            'Iteration' : iteration,
            'Xk' : x_in,
            'Xk+1' : x,
            'Error' : error
        }
        log = log.append(log_info, ignore_index=True)
        
    
    return(log)

In [67]:
newton_raphson('1/4x^3+3/4x^2-3/2x-2', x = 1, tolerance = 0.00001)

   Iteration        Xk      Xk+1         Error
0        1.0  1.000000  4.333333  3.333333e+00
1        2.0  4.333333  2.974770  1.358564e+00
2        3.0  2.974770  2.270963  7.038069e-01
3        4.0  2.270963  2.030331  2.406316e-01
4        5.0  2.030331  2.000449  2.988172e-02
5        6.0  2.000449  2.000000  4.492882e-04
6        7.0  2.000000  2.000000  1.009403e-07