In [24]:
import numpy as np
import pandas as pd
import math
import re

In [8]:
func = '3x^2-2x+12'

In [9]:
def generate_function(eq):
    func = re.sub(r' ', '', eq)
    func = re.sub(r'(\^)', '**', func)
    func = re.sub(r'x', '*x', func)
    func = re.sub(r'([\+]+\*)', '+', func)
    func = re.sub(r'([\-]+\*)', '-', func)
    func = re.sub(r'^(\*)', '', func)
    return(func)

In [10]:
def derivative(eq):
    func0 = eq.replace('x', '(x+(2*h))')
    func1 = eq.replace('x', '(x+h)')
    func = '-(' + func0 + '-4*(' + func1 + ')+3*(' + eq + '))/(2*h)'
    return(func)

In [26]:
def newton_raphson(equation, tolerance):
    eq0 = generate_function(equation)
    eq1 = derivative(eq0)
    x = 0
    h = 0.000001
    
    log = pd.DataFrame(columns = ['Iteration', 'Xk', 'Xk+1', 'Error'])
    
    error = 100
    iteration = 0
    while error > tolerance:
        x_in = x
        x = x - (eval(generate_function(equation))/eval(derivative(generate_function(equation))))
        error = eval(generate_function(equation))
        iteration += 1
        
        log_info = {
            'Iteration' : iteration,
            'Xk' : x_in,
            'Xk+1' : x,
            'Error' : error
        }
        log = log.append(log_info, ignore_index=True)
        
    
    return(log)

In [27]:
newton_raphson('3x^2-2x+12', 12)

    Iteration        Xk      Xk+1       Error
0         1.0  0.000000  6.000000  108.000000
1         2.0  6.000000  2.823529   30.269896
2         3.0  2.823529  0.797591   12.313274
3         4.0  0.797591 -3.622820   58.620125
4         5.0 -3.622820 -1.153245   18.296411
5         6.0 -1.153245  0.898044   12.623362
6         7.0  0.898044 -2.827567   41.640540
7         8.0 -2.827567 -0.631962   14.462050
8         9.0 -0.631962  1.865039   18.705029
9        10.0  1.865039 -0.170278   12.427540
10       11.0 -0.170278  3.942530   50.745579
11       12.0  3.942530  1.599185   16.473807
12       13.0  1.599185 -0.569817   14.113709
13       14.0 -0.569817  2.034715   20.350768
14       15.0  2.034715  0.041162   11.922758